_.suo
_.ntvs_
_.njsproj
_.sln
\*.sw?
.idea/
.next/
.swc/
.store/
.turbo/
.docusaurus
.cache-loader
data/
*.db
dist/
dist-ssr/
build/
node_modules/
target/
tests_output/
test-results/
playwright-report/
blob-report/
playwright/.cache/
vendor/
coverage/
.DS_Store
*.log
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.secrets
